ul {
  list-style: none;
  padding: 175px 0;
  margin: 0 auto;
  max-width: 580px;
}

ul li {
  opacity: 0;
  cursor: pointer;
  margin-bottom: 50px;
}

ul li img {
  object-fit: cover;
}

button {
  color: white;
  line-height: 1.4;
  font-size: 32px;
  text-align: left;
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  padding: 50px;
}

/* button:active, */
/* button:hover, */
button:focus {
  outline: 2px dashed white !important;
}
