ul {
  padding: 0 50px;
  max-width: 480px;
}

ul li {
  padding-bottom: 100px;
  cursor: pointer;
}

ul li button:focus > div,
ul li button:hover > div {
  color: #0000ee;
  text-decoration: underline;
}

ul li button:focus img,
ul li button:hover img {
  border: 4px solid #0000ee;
  margin-top: 21px;
  margin-left: -4px;
  margin-bottom: -4px;
}

ul li img {
  margin-top: 25px;
}
